:root{
--primary:rgb(250,15,152);
--secondary:#f75200;
--success:#16a34a;
--danger:#dc2626;
--bg:black;
--card:black;
--text:white;
}

body{
font-family:Segoe UI;
background:var(--bg);
color:var(--text);
margin:0;
}

.container{
padding:40px;
}

.hidden{
display:none;
}

.flex{
display:flex;
gap:20px;
align-items:center;
}

.space-between{
justify-content:space-between;
}

.text-center{
text-align:center;
}

.card-box{
background:white;
color:black;
padding:25px;
border-radius:10px;
margin:20px 0;
}

.login-card{
width:220px;
cursor:pointer;
text-align:center;
}

.icon{
font-size:40px;
}

button{
padding:12px 20px;
border:none;
border-radius:6px;
cursor:pointer;
font-weight:bold;
}

.btn-primary{
background:var(--primary);
color:white;
}

.btn-secondary{
background:var(--secondary);
color:white;
}

.btn-outline{
border:2px solid var(--primary);
background:transparent;
color:var(--primary);
}

.w-full{
width:100%;
}

.timer-display{
font-size:30px;
font-family:monospace;
}

.big{
font-size:20px;
padding:18px;
}

.error{
color:red;
}